<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
		
			<pattern>%-6relative %d{HH:mm:ss.SSS} [%-10thread] %-5level %-35logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>miner.log</file>
		<append>false</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
<!-- 			<pattern>%d{HH:mm:ss.SSS} [%-10thread] %-5level %-35logger{36} - %msg%n</pattern> -->
			<pattern>%-6relative %d{HH:mm:ss.SSS} [%-10thread] %-5level %-35logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.google" level="INFO" />
	<!--
	<logger name="com.google.bitcoin.core.BitcoinSerializer" level="DEBUG" />
	<logger name="com.google.bitcoin.core.Peer" level="DEBUG" />
	<logger name="com.google.bitcoin.core.PeerGroup" level="DEBUG" />
	 -->
	<logger name="org.bitcoinj" level="INFO" />
	<logger name="com.google.bitcoin.core.MemoryPool" level="WARN" />
	<logger name="org.bitcoinj.mining" level="DEBUG" />

	<!-- Silence all debug -->
 	<!--<logger name="org.bitcoinj" level="INFO" />-->

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
